
.malaKartica{
    margin-bottom: 40px;
    border-radius: 20px;
    width: 500px;
    height: auto;
}

.modal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
}

.FormControl{
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 900px) {

    .modal {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: space-evenly;
        align-items: center;
    }

}