
.malaKartica{
    margin-bottom: 40px;
    border-radius: 20px;
    width: 500px;
    height: auto;
}

.modal {
    display: grid;
    grid-template-columns: auto auto;
}

.predmeti *{
    display: block;
    margin-bottom: 9px;
}