
.malaKartica{
    margin-bottom: 40px;
    border-radius: 20px;
    width: 500px;
    height: auto;
}

.modal {
    display: grid;
    grid-template-columns: auto auto;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

.FormControl{
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 150px;
    align-items: center;
    justify-content: center;
}

.Gumbici{
    padding-bottom: -10px;
    margin-top: 0px;
    margin-bottom: -10px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
hr{
    margin-left: 150px;
}

@media only screen and (max-width: 900px) {

    .modal {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content:unset;
    }

    .FormControl{
        margin-left: 0px;
    }

    hr{
        margin-left: 0px;
    }

    .Gumbici{
        margin-left: 0px;
    }

}