#prijavaBtn {
  height: 65px;
  width: 151px;
  color: white;
  font-weight: 600;
  background-color: rgba(229, 93, 17, 255);
  font-size: 23px;
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px gray;
  margin-right: 15px;
  margin-left: 20px;
}
#prijavaBtn:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 449px) {
  #prijavaBtn {
    height: 45px;
    width: 40%px;
  }
}
