.frame {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.inputFrame{   
    border:1px solid rgb(221, 215, 215);
    border-radius: 30px;
    box-shadow: 2px 2px rgb(185, 184, 184);
    height: 65px;
    width: 25rem;
    background-color: rgb(242, 242, 242);
    margin:20px  0px 10px -0.5px;
    justify-content: center;
    text-align: center;
    font-size: larger;
    display:block;
}

.buttonFrame{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.formLabel{
    margin-top: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center
}

::placeholder{
    color:white1
}
.iconReg {
    width: 2em;
    height: 2em;
}
/*mobitel*/
@media only screen and (max-width: 449px) {
    .inputFrame{
        width: 15rem;  
        height: 40px; 
    }
    .frame {
        margin-left: 20px;
    }
    .buttonFrame {
        flex-wrap: wrap; 
        margin-right: 20px;
        justify-content: center;
    }
    .button{
        font-size: medium;
    }
}
