/*laptop*/
@media only screen and (min-width: 450px) {
  @media only screen and (min-width: 1487px) {
    .title {
      font-size: 50px;
      font-weight: 700;
    }
    .title + div {
      font-size: 30px;
      color: rgb(118, 113, 113);
    }
  }
  @media only screen and (max-width: 1486px) {
    .title {
        font-size: 45px;
        font-weight: 700;
      }
      .title + div {
        font-size: 25px;
        color: rgb(118, 113, 113);
      }
    }

  .d1 > div {
    margin-left: 150px;
    padding-bottom: 30px;
  }
  .content {
    display: grid;
    grid-template-rows: auto 70px;
    height: 100vh;
  }
  .gallery {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
  .buttons {
    display: flex;
    flex-flow: row nowrap;
  }
   img {
    height:484px ;
    width:685px ; 
 }
}
/*mobitel*/
@media only screen and (max-width: 449px) {
    .title {
        font-size: 35px;
        font-weight: 700;
        margin-left: 10%;
        margin-bottom: 8%;
      }
      .title + div {
        font-size: 25px;
        color: rgb(118, 113, 113);
        margin-left: 6%;
        margin-bottom: 10%;

      }
  .content {
    display: grid;
    grid-template-rows: auto auto;
    height: 100%;
  }
  .gallery {
    width: 100vw;
    height: 100%;
}
 .d2 {
    z-index: -1;
 }
.d1 {
    margin-top: 10%;
    z-index: 1;
}

 img {
    width:100% ;
    z-index: -2;
 }

}
